*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    
}

body{
    background-color: #c3c3c3;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenBorder {

}