*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c3c3c3;
    font-family: 'Teko', sans-serif;
}
            
canvas { 
    display: block;
}

.title{
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
    display:block;
    color: white;
}

.tools_bar{
    background-color: black;
    display: block;
    width: 100%;
}

#c{
    width: 100%;
    height: auto;
    display: block;
}

#container{
    width: 100%;
    margin: 0 25%;
}