*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #202C59;
    --accent--color: #FB0378;
    --highlight-color: #FFE05D;
    --font-color: #F9F9F9;
}

main{
    background-color: var(--bg-color);
}

section{
    height: 35vh;
    width: 100vw;   
}

.slideshow-container {
    max-width: 667px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}