*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink; 
    font-family: 'IBM Plex Sans', sans-serif;
}

button{
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 1px;
}





.grid-container{
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
}


.page-wrapper{
    background-color: green;
    position: relative;
}

.posts--container{
    background-color: var(--reddit_background);
}

.post--items{
    
    background-color: var(--reddit_white);
    align-content: center;
    
}


:root{
    --reddit_white: #D7DADC;
    --reddit_background: #1A1A1B;
    --reddit_input_border:  #343536;
}

.header_reddit{
    width: 100vw;
}

#post-gif{
    max-height: 60vh;
    width: 70vw;
    
}



.comments--container{
    padding: 2rem 0rem;
    
    background-color: blue;
    position: relative;
}

.comments--item{
    font-size: 0.8;
    padding: 1rem;
    background-color: darkgrey;
    border: solid black 0.2rem;
}




#js--like-button-0{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-1{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}