*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #030303; 
    font-family: 'IBM Plex Sans', sans-serif;
}

button{
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 1px;
}


h3{
    color: var(--reddit_white);
    background-color: var(--reddit_background);
}
p{
    color: var(--reddit_white);
}
.grid-container{
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    background-color: #030303;
}

label{
    color: var(--reddit_white);
    font-size: 0.7rem;
}
.page-wrapper{
    position: relative;
}

.posts--container{
    background-color: var(--reddit_background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.post--items{
    background-color: var(--reddit_input_border);
}

.answer{
    padding-left: 1.5rem;
}
:root{
    --reddit_white: #D7DADC;
    --reddit_background: #1A1A1B;
    --reddit_input_border:  #343536;
}

.header_reddit{
    width: 100vw;
}

#post-gif{
    max-height: 60vh;
    width: 65vw;
}



.comments--container{
    padding: 2rem 0rem;
    background-color: var(--reddit_background);
    position: relative;
}

.comments--item{
    font-size: 0.8;
    padding: 1rem;
    background-color: var(--reddit_input_border);
    border-top: solid lightgray 0.01rem;
    border-bottom: solid lightgray 0.01rem;
}




#js--like-button-0{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-1{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-2{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-3{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-4{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-5{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-6{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-7{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-8{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-9{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--like-button-10{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-0{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-1{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-2{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-3{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-4{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-5{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-6{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-7{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-8{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-9{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}

#js--respond-10{
    height: 5vh;
    width: 5vw;
    cursor: pointer;
}


#js--form-0{
    display: none;
}

#js--form-1{
    display: none;
}
#js--form-2{
    display: none;
}
#js--form-3{
    display: none;
}
#js--form-4{
    display: none;
}
#js--form-5{
    display: none;
}
#js--form-6{
    display: none;
}
#js--form-7{
    display: none;
}
#js--form-8{
    display: none;
}
#js--form-9{
    display: none;
}
#js--form-10{
    display: none;
}