*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    /* Kleurenpallet */
    --bg-color: #202C59;
    --accent-color: #FB0378;
    --highlight-color: #FFE05D;
    --font-color: #F9F9F9;
    --shadow-color: #10152b;
}

body{
    background-color: #c3c3c3;
    font-family: 'Teko', sans-serif;
}
            
canvas { 
    display: block;
}

.title{
    position: absolute;
	top: 10px;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
	text-align: center;
	z-index: 1;
    display:block;
    opacity: 1;
    color: var(--highlight-color);
    font-size: 3rem;
}

.toolsBar{
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: absolute;
    height: 100%;
    transition: all 0.5s;
    cursor: pointer;
}

.toolsBar:hover{
    border-right: 5px solid var(--highlight-color);
}

.toolsBar__tool_title{
    transform: rotate(0.75turn) translateX(50%);
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transition: all 1s;
    color: white;
}

.toolsBar__delete{
    display: inline-block;
    color: white;
    font-size: 1rem;
    opacity: 0;
}

.objectsBar{
    background-color: var(--accent-color);
    display: flex;
    width: 100px;
    position: absolute;
    height: 100%;
    right: 0;
    transition: all 0.5s;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.objectsBar__item{
    display: none;
}

.objectsBar__item:hover{
    border: 1px solid black;
}

.objectsBar:hover, .objectsBar:focus{
    border-left: 5px solid var(--highlight-color);
}

.objectsBar__obj_title{
    transform: rotate(0.25turn);
    position: relative;
    font-size: 2rem;
    transition: all 1s;
    color: white;
}

.objectsBar__walter, .objectsBar__michael {
    display: block;
    color: black;
    font-size: 3rem;
    text-align: center;
    transition: 1s all;
}

.objectsBar__walter_name, .objectsBar__michael_name{
    display: block;
    text-align: center;
    opacity: 0;
    transition: 1s all;
}

.object{
    cursor: pointer;
    margin: 10px auto;
}

.objectsBar__taser{
    width: 40px;
    transform: scaleX(-1);
    display: block;
    opacity: 0;
    transition: 1s all;
}

.objectsBar__taser_title{
    text-align: center;
    opacity: 0;
}

.objectsBar__fence{
    width: 50px;
    display: block;
    opacity: 0;
    transition: 1s all;
}

.objectsBar__fence_title{
    text-align: center;
    opacity: 0;
}

.canvas{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.continue_button{
    position: absolute;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.continue_button {
    font-family: 'Teko', sans-serif;
    font-size: 2.4rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
    padding: .5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.continue_button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
}

.continue_button:focus {
    box-shadow: none;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
    outline: none;
}

.continue_button:active {
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

.modal2--bg {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: .1;
    transition: opacity 1s;
    z-index: 39;
}

.modal2 {
    position: absolute;
    height: 30rem;
    width: 55rem;
    background-color: var(--bg-color);
    z-index: 40;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s;
    box-shadow: .4rem .4rem .4rem black;
}

.modal2__title {
    font-family: 'Teko', sans-serif;
    color: var(--highlight-color);
    font-size: 4rem;
    letter-spacing: .1rem;
    padding-top: 1rem;
}

.modal2__text {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    font-size: 1.8rem;
    padding: 0 5rem;
}

.modal2__buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    column-gap: 8rem;
    margin-top: 1.5rem;
}

.modal2__buttons__button {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    letter-spacing: .1rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .4rem black;
}

.modal2__buttons__button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
}

.modal2__buttons__button:focus {
    box-shadow: none;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
    outline: none;
}

.modal2__buttons__button:active {
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

/* Navigatie hamburger en list items */
.navigation{
    position: absolute;
    top: 5rem;
    left: 5rem;
    display: flex;
    font-family: 'Teko', sans-serif;
    z-index: 2;
}

.navigation__menu{
    display: inherit;
    height: 100%;
}

.navigation__hamburger{
    color: white;
    font-size: 3rem;
    z-index: 99;
    cursor: pointer;
    transition: 1s all;
}

.navigation__menu:hover .navigation__hamburger{
    color: var(--accent-color);
}

.navigation__hamburger:active{
    color: var(--accent-color);
}

.navigation__hamburger:focus{
    color: var(--accent-color);
}

.navigation__menu:hover .navigation__text{
    color: var(--accent-color);
}

.navigation__text{
    display: block;
    color: white;
    font-size: 2.5rem;
    margin: 0 1rem;
    opacity: 1;
    transition: 1s all;
    cursor: pointer;
}

.navigation__items{
    opacity: 0;
    transition: 1s all;
    color: var(--accent-color);
    font-size: 2rem;
    position: absolute;
    top: 5rem;
    list-style: none;
    width: 15rem;
    display: none;
}

.navigation__items__link{
    transition: 1s all;
    cursor: pointer;
    margin: 2px 0;
    color: white;
}

.navigation__items__link:nth-child(1){
    text-decoration: underline;
}

.navigation__items__link:hover{
    color: var(--accent-color);
}

.overlay {
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    transition: opacity 1.5s;
}

@media(max-width: 992px){
    .navigation{
        top: 1.5rem;
        left: 2rem;
    }

    .navigation__items{
        top: 3rem;
    }

    .objectsBar__obj_title{
        top: 45%;
    }

    .title{
        font-size: 2rem;
    }
}

.modal--bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    transition: opacity 1.5s;
    left: 0;
    top: 0;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
}

.modal__content {
    position: absolute;
    height: 30rem;
    width: 55rem;
    background-color: var(--bg-color);
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1.5s;
    box-shadow: .4rem .4rem .4rem black;
}

.modal__content__title {
    color: var(--highlight-color);
    font-size: 4rem;
    letter-spacing: .1rem;
    padding-top: 1rem;
}

.modal__content__text {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    font-size: 1.8rem;
    padding: 0 5rem;
}

.modal__content__button {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    letter-spacing: .1rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .4rem black;
}

.modal__content__button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
}

.modal__content__button:focus {
    box-shadow: none;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
    outline: none;
}

.modal__content__button:active {
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

@supports (height: 100vh){
    .toolsBar{
        height: 100vh;
    }

    .objectsBar{
        height: 100vh;
    }

    .canvas{
        height: 100vh;
    }
}