*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    /* Kleurenpallet */
    --bg-color: #202C59;
    --accent-color: #FB0378;
    --highlight-color: #FFE05D;
    --font-color: #F9F9F9;
    --shadow-color: #10152b;
    --sticky-note: #FFFF88;
    --taskbar-color: #18222d;
}

body{
    background-color: #c3c3c3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: translateY(-7rem);
}

.background > img {
    width: 100%;
    filter: blur(4px);
}

.laptop {
    margin-top: 30rem;
}

.laptop__border {
    height: 30rem;
    width: 52rem;
    background-color: #2b2b2b;
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    border: solid black .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop__border__screenOff {
    height: 28rem;
    width: 50rem;
    background-color: black;
}

.laptop__border__screenOff__screen {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1.5s;
}

.laptop__border__screenOff__screen__background {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: none;
}

@keyframes zoom-in {
    0% {
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    100% {
        width: 100vw;
        height: 100vh;
        z-index: 5;
    }
}

.laptop__border__screenOff__screen__login {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

@keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-75px);
              transform: translateY(-75px);
      opacity: 0;
    }
  }
  

.laptop__border__screenOff__screen__login__userImage {
    position: absolute;
    width: 7rem;
    height: 7rem;
    background-color: gray;
    position: absolute;
    border-radius: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop__border__screenOff__screen__login__userImage > .fa-user {
    color: white;
    font-size: 3rem;
}

.laptop__border__screenOff__screen__login__username {
    position: absolute;
    color: white;
    font-size: 1.6rem;
}

.laptop__border__screenOff__screen__login__password {
    position: absolute;
    margin-top: 7rem;
    border: solid .1rem white;
    animation: none;
}

@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(8px);
    }
    90% {
        transform: translateX(-8px);
    }
  }
  

.laptop__border__screenOff__screen__login__password__input {
    border-style: none;
    padding: .4rem .4rem;
    background-color: transparent;
    color: white;
    width: 14rem;
    font-size: 1.4rem;
}

.laptop__border__screenOff__screen__login__password__button {
    border-style: none;
    border-left: solid .1rem white;
    background-color: rgba(255, 255, 255, 0.4);
}

.laptop__border__screenOff__screen__login__password__button > i {
    color: white;
    font-size: 1.6rem;
    padding: .5rem .5rem;
}

.laptop__border__screenOff__screen__login__password__button:hover {
    cursor: pointer;
}

.laptop__border__stickyNote {
    position: absolute;
    height: 5.3rem;
    width: 10rem;
    transform: rotateY(20deg);
    transform-style: preserve-3d;
    margin-left: 45rem;
    margin-bottom: 25rem;
}

.laptop__border__stickyNote:hover {
    cursor: pointer;
}

.laptop__border__stickyNote__top {
    width: 100%;
    height: 5.3rem;
    background-color: var(--sticky-note);
    outline: solid .1rem black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop__border__stickyNote__top > p {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.6rem;
    color: #16264C;
}

.laptop__border__stickyNote__bottom {
    width: 100%;
    height: 4.7rem;
    background-color: var(--sticky-note);
    outline: solid .1rem black;
    transform-origin: top;
    transform: rotateX(160deg);
    transform-style: preserve-3d;
    box-shadow: -2px 2px 4px black;
}

@keyframes slight-fold-out {
    from {
        transform: rotateX(160deg);
    }
    to {
        transform: rotateX(145deg);
    }
}

@keyframes slight-fold-in {
    from {
        transform: rotateX(145deg);
    }
    to {
        transform: rotateX(160deg);
    }
}

@keyframes fold-out {
    to {
        transform: rotateX(20deg);
    }
}

.laptop__keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 52rem;
    background-color: #2b2b2b;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    border: solid black .2rem;
    transform-origin: top;
    transform-style: preserve-3d;
    transform: perspective(100rem) rotateX(70deg);
}

.laptop__keyboard__onOffButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    transform: translate3d(21.5rem, -12rem, 0);
    animation: none;
}

@keyframes blink {
    from {
        outline: none;
    }

    to {
        outline: solid 3px red;
    }
}

.laptop__keyboard__onOffButton:hover {
    cursor: pointer;
}

.laptop__keyboard__keys {
    position: absolute;
    height: 20rem;
    width: 48rem;    
}

.laptop__keyboard__keys > img {
    width: 48rem;
}

.laptop__keyboard__bottomSide {
    position: absolute;
    height: 1.5rem;   
    width: 52rem;
    margin-top: 30.5rem;
    background-color: #2b2b2b;
    border: solid black .2rem;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
    transform-origin: top;
    transform-style: preserve-3d;
    transform: perspective(100rem) rotateX(-45deg);
    
}

.desk {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    height: 10rem;
    width: 100vw;
    bottom: 0;
}

.desk > img {
    width: 100%;
    height: 10rem;
}

.desktop {
    z-index: 5;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.desktop__videoPlayer {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    background-color: transparent;
    padding: .4rem .2rem;
    color: white;
    text-shadow: .1rem .1rem .2rem black;
}

.desktop__videoPlayer:hover {
    background-color: royalblue;
    cursor: pointer;
}

.desktop__videoPlayer:focus {
    background-color: royalblue;
    outline: none;
}

.desktop__videoPlayer > img {
    width: 3rem;
    z-index: 2;
}

.desktop__taskbar > img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.desktop__taskbar__datetime {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: var(--taskbar-color);
    color: white;
    width: 4.3%;
    height: 5.2%;
    bottom: 0;
    right: 3.6%;
    z-index: 6;
    opacity: 1;
    font-size: 1.4rem;
}

.desktop__taskbar__datetime:hover {
    cursor: default;
}

.videoPlayer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
    transform: scale(0);
}

.modal--bg {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .1;
    transition: opacity 1s;
    z-index: 39;
}

.modal {
    position: absolute;
    height: 30rem;
    width: 55rem;
    background-color: var(--bg-color);
    z-index: 40;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s;
    box-shadow: .4rem .4rem .4rem black;
}

.modal__title {
    font-family: 'Teko', sans-serif;
    color: var(--highlight-color);
    font-size: 4rem;
    letter-spacing: .1rem;
    padding-top: 1rem;
}

.modal__text {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    font-size: 1.8rem;
    padding: 0 5rem;
}

.modal__buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    column-gap: 8rem;
    margin-top: 1.5rem;
}

.modal__buttons__button {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    letter-spacing: .1rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .4rem black;
}

.modal__buttons__button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
}

.modal__buttons__button:focus {
    box-shadow: none;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
    outline: none;
}

.modal__buttons__button:active {
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.overlay {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    transition: opacity 3s;
}

.turnScreen {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.turnScreen__bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
}

.turnScreen > p {
    color: var(--font-color);
    font-size: 3.2rem;
    text-align: center;
    z-index: 1;
    font-family: 'Teko', sans-serif;
}

.turnScreen > svg {
    fill: var(--font-color);
    width: 12rem;
    height: 12rem;
    margin: 5rem 0;
    z-index: 1;
}

@media (orientation: portrait) {
    .laptop__border__stickyNote {
        display: none;
    }

    .turnScreen {
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }
  
  @media (min-height: 470px) {
      .desk {
        height: 15rem;
      }

      .desk > img {
          height: 15rem;
      }
  }

  @media (min-height: 590px) {
    .laptop {
        margin-top: 40rem;
    }

    .desk {
      height: 15rem;
    }

    .desk > img {
        height: 15rem;
    }

    @keyframes zoom-in {
        0% {
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
        }
        100% {
            width: 100vw;
            height: 100vh;
            z-index: 5;
            top: -24rem;
        }
    }
}

@media (min-height: 660px) {
    .laptop {
        margin-top: 50rem;
    }

    .desk {
      height: 15rem;
    }

    .desk > img {
        height: 15rem;
    }

    @keyframes zoom-in {
        0% {
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
        }
        100% {
            width: 100vw;
            height: 100vh;
            z-index: 5;
            top: -30.8rem;
        }
    }
}

@media (min-height: 697px) {
    @keyframes zoom-in {
        0% {
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
        }
        100% {
            width: 100vw;
            height: 100vh;
            z-index: 5;
            top: -34.5rem;
        }
    }
}

@media (min-height: 770px) {
    .laptop {
        margin-top: 50rem;
    }

    .desk {
      height: 20rem;
    }

    .desk > img {
        height: 20rem;
    }

    @keyframes zoom-in {
        0% {
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
        }
        100% {
            width: 100vw;
            height: 100vh;
            z-index: 5;
            top: -35.8rem;
        }
    }
}

@media (min-height: 797px) {
    @keyframes zoom-in {
        0% {
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
        }
        100% {
            width: 100vw;
            height: 100vh;
            z-index: 5;
            top: -39.5rem;
        }
    }
}

@media (min-height: 870px) {
    .laptop {
        margin-top: 60rem;
    }

    .desk {
        height: 20rem;
    }

    .desk > img {
        height: 20rem;
    }

    @keyframes zoom-in {
        0% {
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
        }
        100% {
            width: 100vw;
            height: 100vh;
            z-index: 5;
            top: -50rem;
        }
    }
}

@media (min-height: 908px) {
    @keyframes zoom-in {
        0% {
            width: 100%;
            height: 100%;
            z-index: 0;
            top: 0;
        }
        100% {
            width: 100vw;
            height: 100vh;
            z-index: 5;
            top: -51.2rem;
        }
    }

    .desktop__videoPlayer > img {
        width: 5rem;
    }
    
    .desktop__videoPlayer > p {
        margin-top: .2rem;
        font-size: 1.6rem;
    }
}

@media (min-width: 1500px) {
    .desktop__taskbar__datetime {
        display: flex;
    }
}

/* Navigatie hamburger en list items */
.navigation{
    position: absolute;
    top: 5rem;
    left: 5rem;
    display: inherit;
    font-family: 'Teko', sans-serif;
    z-index: 20;
}

.navigation__menu{
    display: inherit;
    height: 100%;
}

.navigation__hamburger{
    color: white;
    font-size: 3rem;
    z-index: 99;
    cursor: pointer;
    transition: 1s all;
}

.navigation__menu:hover .navigation__hamburger{
    color: var(--accent-color);
}

.navigation__hamburger:active{
    color: var(--accent-color);
}

.navigation__hamburger:focus{
    color: var(--accent-color);
}

.navigation__menu:hover .navigation__text{
    color: var(--accent-color);
}

.navigation__text{
    display: block;
    color: white;
    font-size: 2.5rem;
    margin: 0 1rem;
    opacity: 1;
    transition: 1s all;
    cursor: pointer;
}

.navigation__items{
    opacity: 0;
    display: none;
    transition: 1s all;
    color: var(--accent-color);
    font-size: 2rem;
    position: absolute;
    top: 5rem;
    list-style: none;
    width: 15rem;
}

.navigation__items__link{
    transition: 1s all;
    cursor: pointer;
    margin: 2px 0;
    color: white;
}

.navigation__items__link:nth-child(1){
    text-decoration: underline;
}

.navigation__items__link:hover{
    color: var(--accent-color);
}

@media(max-width: 992px){
    .navigation{
        top: 1.5rem;
        left: 2rem;
    }

    .navigation__items{
        top: 3rem;
    }
}