*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #202C59;
    --accent--color: #FB0378;
    --highlight-color: #FFE05D;
    --font-color: #F9F9F9;
}

html{
    font-size: 62.5%;
}

.slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: var(--bg-color);
}
  
/* Hide the images by default */
.slideshow__slide {
display: block;
height: 100%;
width: 100%;
}

/* slideshow__slide__next & slideshow__slide__prev buttons */
.slideshow__slide__prev, .slideshow__slide__next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -2.5rem;
padding: 2rem;
color: var(--accent--color);
font-weight: bold;
font-size: 2rem;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.slideshow__slide__prev { 
    display: none;
}

.slideshow__slide__img{
    width: 100%;
    height: 100%;
}

/* Position the "slideshow__slide__next button" to the right */
.slideshow__slide__next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color */
.slideshow__slide__prev:hover, .slideshow__slide__next:hover {
background-color: var(--bg-color);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.slideshow__slide__number {
color: #f2f2f2;
background-color: var(--bg-color);
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}


.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slideshow__slide__end{
    width: 20%;
    height: 10%;
    position: absolute;
    color: var(--font-color);
    background-color: var(--accent--color);
    left: 40%;
    bottom: 5%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 2rem;
    border: none;
    font-family: 'Teko', sans-serif;
}

.slideshow__slide__end:hover{
    border: solid var(--highlight-color) 4px;
}

.slideshow__slide__end:active{
    background-color: var(--highlight-color);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal--bg {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .1;
    transition: opacity 1s;
    z-index: 39;
}

.modal {
    position: absolute;
    height: 30rem;
    width: 55rem;
    background-color: var(--bg-color);
    z-index: 40;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s;
    box-shadow: .4rem .4rem .4rem black;
}

.modal__title {
    font-family: 'Teko', sans-serif;
    color: var(--highlight-color);
    font-size: 4rem;
    letter-spacing: .1rem;
    padding-top: 1rem;
}

.modal__text {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    font-size: 1.8rem;
    padding: 0 5rem;
}

.modal__buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    column-gap: 8rem;
    margin-top: 1.5rem;
}

.modal__buttons__button {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    letter-spacing: .1rem;
    background-color: #FB0378;
    color: var(--font-color);
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .4rem black;
}

.modal__buttons__button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
}

.modal__buttons__button:focus {
    box-shadow: none;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
    outline: none;
}

.modal__buttons__button:active {
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

.overlay {
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    transition: opacity 3s;
}

.navigation{
    position: absolute;
    top: 5rem;
    left: 5rem;
    display: flex;
    font-family: 'Teko', sans-serif;
    z-index: 2;
}

.navigation__menu{
    display: flex;
    height: 100%;
}

.navigation__hamburger{
    color: white;
    font-size: 2rem;
    z-index: 99;
    cursor: pointer;
    transition: 1s all;
}

.navigation__menu:hover .navigation__hamburger{
    color: var(--accent--color);
}

.navigation__hamburger:active{
    color: var(--accent--color);
}

.navigation__hamburger:focus{
    color: var(--accent--color);
}

.navigation__menu:hover .navigation__text{
    color: var(--accent--color);
}

.navigation__text{
    display: block;
    color: white;
    font-size: 1.8rem;
    margin: 0 1rem;
    opacity: 1;
    transition: 1s all;
    cursor: pointer;
}

.navigation__items{
    opacity: 0;
    transition: 1s all;
    color: var(--accent--color);
    font-size: 2rem;
    position: absolute;
    top: 5rem;
    list-style: none;
    width: 15rem;
    display: none;
}

.navigation__items__link{
    transition: 1s all;
    cursor: pointer;
    margin: 2px 0;
    color: white;
}

.navigation__items__link:nth-child(1){
    text-decoration: underline;
}

.navigation__items__link:hover{
    color: var(--accent--color);
}

@media(max-width: 992px){
    .navigation{
        top: 1.5rem;
        left: 2rem;
    }

    .navigation__items{
        top: 3rem;
    }
}

.slideshow__slide__object{
    display: none;
    position: absolute;
    height: 15%;
    width: 10%;
    border: 3px solid var(--highlight-color);
    cursor: pointer;
    bottom: 13%;
    right: 1%;
}

.slideshow__slide__object__text {
    display: none;
    position: absolute;
    top: -4.2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    color: var(--font-color);
    background-color: var(--bg-color);
    padding: .3rem 1rem 0 1rem;
    border-radius: .5rem;
}

.slideshow__slide__object__text::after {
    content: "";
    background-color: var(--bg-color);
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 2.6rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.popup__bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .8;
    transition: opacity 1s;
}

.popup {
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 2;
    background-color: var(--bg-color);
    width: 80vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    animation: none;
    box-shadow: .2rem .2rem .4rem black;
}

.popup__text{
    font-family: 'Teko','sans-serif';
    font-size: 2.5rem;
    color: var(--font-color);
    padding: 0.1rem;
}

.popup__text__h1{
    font-size: 3rem;
    color: var(--highlight-color);
    font-family: 'Teko',"sans-serif";
}

.popup__buttons{
    font-family: 'Teko', sans-serif;
    font-size: 2.6rem;
    background-color: var(--accent--color);
    color: var(--font-color);
    border: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .4rem black;
    box-sizing: content-box;
    margin: .3rem;
    padding: .5rem;
}

.popup__buttons:hover{
    cursor: pointer;
    box-shadow: none;
    margin: 0;
    border: solid .2rem var(--highlight-color);
}

.popup__buttons:focus{
    box-shadow: none;
    margin: 0;
    border: solid .2rem var(--highlight-color);
    outline: none;
}

.popup__buttons:active{
    padding: .7rem;
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

@supports (overflow: hidden){
    html, body{
        overflow: -moz-hidden-unscrollable;
    }
}

@supports (height: 100vh) and (height: 100vw){
    .slideshow{
        height: 100vh;
        width: 100vw;
    }

    .slideshow__slide{
        height: 100vh;
        width: 100vw;
    }

    .slideshow__slide__img{
        height: 100vh;
        width: 100vw;
    }

    .slideshow__slide__end{
        height: 10vh;
        width: 20vw;
    }

    .overlay{
        height: 100vh;
        width: 100vw;
    }
}