*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #030303;
    font-family: 'IBM Plex Sans', sans-serif;
}

button{
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 1px;
}

:root{
    --reddit_white: #D7DADC;
    --reddit_background: #1A1A1B;
    --reddit_input_border:  #343536;
    --bg-color: #202C59;
    --accent-color: #FB0378;
    --highlight-color: #FFE05D;
    --font-color: #F9F9F9;
    --shadow-color: #10152b;
}

.reddit_page{
    transition: all 0.5s;
}

.reddit_page__header_reddit{
    width: 100%;
}

.reddit_page__reddit_post{
    color: white;
    position: relative;
    display: block;
}

.reddit_page__reddit_post__create {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 20px 0 25px 18px;
    border-bottom: 1px solid var(--reddit_input_border);
}

.reddit_page__reddit_post__community{
    width: 40vw;
    margin: 15px auto;
    display: block;
}

.reddit_page__reddit_post__inputs{
    background-color: #1A1A1B;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.reddit_page__reddit_post__inputs__title{
    font-family: "Verdana", sans-serif;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--reddit_background);
    border: 1px solid var(--reddit_input_border);
    color: var(--reddit_white);
    font-size: 1rem;
    margin: 10px 0;
    width: 90%;
}

.reddit_page__reddit_post__inputs__title:focus{
    border: 1px solid var(--reddit_white);
}

.reddit_page__reddit_post__inputs__gif{
    border: 1px dashed var(--reddit_input_border);
    background-color: var(--reddit_background);
    text-align: center;
    margin: 10px 25px 25px;
}

.reddit_page__reddit_post__inputs__gif__group{
    position: relative;
    padding: 120px 15px;
}

.reddit_page__reddit_post__inputs__gif__group__text{
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}

.reddit_page__reddit_post__inputs__gif__group__button{
    background-color: var(--reddit_background);
    border: 1px solid var(--reddit_white);
    color: var(--reddit_white);
    padding: 5px 15px;
    border-radius: 5px;
    margin: 1rem 0;
}

.reddit_page__reddit_post__inputs__gif__group__button:hover{
    border: 1px solid white;
    color: white;
}

.reddit_page__reddit_post__inputs__gif__img{
    display: none;
    width: 100%;
    padding: 15px;
}

.reddit_page__reddit_post__inputs__buttons{
    margin: 1rem 0;
}

.reddit_page__reddit_post__inputs__buttons__cancel{
    background-color: var(--reddit_background);
    border: 1px solid var(--reddit_white);
    color: var(--reddit_white);
    padding: 5px 15px;
    border-radius: 5px;
}

.reddit_page__reddit_post__inputs__buttons__cancel:hover{
    border: 1px solid white;
    color: white;
}

.reddit_page__reddit_post__inputs__buttons__post{
    cursor: not-allowed;
    background-color: var(--reddit_white);
    border: 1px solid var(--redit_white);
    padding: 5px 15px;
    border-radius: 5px;
    background-color: white;
}

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.popup__window{
    position: absolute;
    background-color: var(--reddit_white);
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.popup__window__group{
    position: relative;
    cursor: pointer;
    display: block;
}

.popup__window__group__gif{
    width: 50px;
    vertical-align: middle;
}

.popup__window__group__title{
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.reddit_page__school_project{
    color: white;
    text-align: center;
    margin-top: 15px;
}

.error_window{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.viewDiscr {
    z-index: 2;
    background-color: var(--bg-color);
    width: 60rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    animation: none;
    box-shadow: .2rem .2rem .4rem black;
    font-family: 'Teko', sans-serif;
    opacity: 0;
}

.viewDiscr > h1 {
    color: var(--accent-color);
    font-size: 6rem;
}

.viewDiscr > p {
    color: var(--highlight-color);
    font-size: 2.4rem;
    font-weight: 300;
}



.overlay {
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    transition: opacity 2s;
}

@media(min-width: 300px) and (max-width: 700px){
    .reddit_page__reddit_post__inputs__gif__group{
        padding: 20px 0;
        margin: 0 20vw;
    }

    .reddit_page__reddit_post__community{
        width: 70vw;
    }

    .reddit_page__reddit_post__create{
        font-size: 1rem;
    }

    .reddit_page__reddit_post__inputs__title{
        width: 83%;
        padding: 0.5rem 1rem;
    }

    .reddit_page__reddit_post__inputs__gif{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reddit_page__reddit_post__inputs__gif__img{
        width: 60%;
    }
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}


.scale-out-center {
-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
}
@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
}