*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    /* Kleurenpallet */
    --bg-color: #202C59;
    --accent-color: #FB0378;
    --highlight-color: #FFE05D;
    --font-color: #F9F9F9;
    --shadow-color: #10152b;
}

body {
    background-color: black;
    font-family: 'Teko', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewDiscr-bg {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .8;
    transition: opacity 1s;
}

.viewDiscr {
    position: absolute;
    z-index: 2;
    background-color: var(--bg-color);
    width: 60rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    animation: none;
    box-shadow: .2rem .2rem .4rem black;
}

@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-300px);
        opacity: 0;
    }
  }

.viewDiscr > h1 {
    color: var(--accent-color);
    font-size: 6rem;
}

.viewDiscr > p {
    color: var(--highlight-color);
    font-size: 2.4rem;
    font-weight: 300;
}

.viewDiscr__buttons {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 50rem;
    column-gap: 10rem;
}

.viewDiscr__buttons > button {
    font-family: 'Teko', sans-serif;
    font-size: 2.6rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .4rem black;
    box-sizing: content-box;
    margin: .2rem;
    padding: .5rem;
}

.viewDiscr__buttons > button:hover {
    cursor: pointer;
    box-shadow: none;
    margin: 0;
    border: solid .2rem var(--highlight-color);
}

.viewDiscr__buttons > button:focus {
    box-shadow: none;
    margin: 0;
    border: solid .2rem var(--highlight-color);
    outline: none;
}

.viewDiscr__buttons > button:active {
    padding: .7rem;
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

.videoPlayer {
    width: 90vw;
    height: 90vh;
}

.continue {
    position: absolute;
    font-family: 'Teko', sans-serif;
    font-size: 2.6rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .4rem black;
    box-sizing: content-box;
    padding: .5rem 1rem .1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 1rem;
    opacity: 0;
    display: none;
    animation: none;
}

@keyframes slide-in-bottom {
    0% {
        bottom: 30vh;
        opacity: 0;
    }
    100% {
        bottom: 45vh;
        opacity: 1;
    }
  }

.continue:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
}

.continue:focus {
    box-shadow: none;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
    outline: none;
}

.continue:active {
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

.continue .continue__tooltip {
    visibility: hidden;
    position: absolute;
    left: -10rem;
    top: 0;
    background-color: var(--bg-color);
    padding: .2rem .7rem 0 .7rem;
    border-radius: .5rem;
    border: solid .2rem var(--accent-color);
}

.continue .continue__tooltip::after {
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    width: 1rem;
    height: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    right: -.7rem;
    border-right: solid .2rem var(--accent-color);
    border-top: solid .2rem var(--accent-color);
}

.continue:hover .continue__tooltip {
    visibility: visible;
}

.exitVideo {
    position: absolute;
    z-index: 10;
    background-color: var(--bg-color);
    width: 60rem;
    height: 30rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    animation: none;
    box-shadow: .2rem .2rem .4rem black;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.exitVideo__close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: solid .1rem var(--accent-color);
    border-radius: 15rem;
    padding: .2rem .6rem;
    background-color: transparent;
}

.exitVideo__close > i {
    font-size: 2.5rem;
    color: var(--accent-color);
}

.exitVideo__close:hover {
    cursor: pointer;
    border: solid .1rem var(--highlight-color);
}

.exitVideo__close:hover > i {
    color: var(--highlight-color);
}

.exitVideo__close:focus {
    border: solid .1rem var(--highlight-color);
    outline: none;
}

.exitVideo > h1 {
    color: var(--accent-color);
    font-size: 6rem;
}

.exitVideo > p {
    color: var(--highlight-color);
    font-size: 2.4rem;
    font-weight: 300;
}

.exitVideo__button {
    font-family: 'Teko', sans-serif;
    font-size: 2.6rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .4rem black;
    box-sizing: content-box;
    padding: .5rem 1rem;
    margin-top: 2rem;
}

.exitVideo__button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
}

.exitVideo__button:focus {
    box-shadow: 0 0 0 .2rem var(--highlight-color);
    outline: none;
}

.exitVideo__button:active {
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

.modal--bg {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .1;
    transition: opacity 1s;
    z-index: 39;
}

.modal {
    position: absolute;
    height: 30rem;
    width: 55rem;
    background-color: var(--bg-color);
    z-index: 40;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s;
    box-shadow: .4rem .4rem .4rem black;
}

.modal__title {
    font-family: 'Teko', sans-serif;
    color: var(--highlight-color);
    font-size: 4rem;
    letter-spacing: .1rem;
    padding-top: 1rem;
}

.modal__text {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    font-size: 1.8rem;
    padding: 0 5rem;
}

.modal__buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    column-gap: 8rem;
    margin-top: 1.5rem;
}

.modal__buttons__button {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    letter-spacing: .1rem;
    background-color: var(--accent-color);
    color: var(--font-color);
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .4rem black;
}

.modal__buttons__button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
}

.modal__buttons__button:focus {
    box-shadow: none;
    box-shadow: 0 0 0 .2rem var(--highlight-color);
    outline: none;
}

.modal__buttons__button:active {
    border: none;
    background-color: var(--highlight-color);
    box-shadow: inset .2rem .2rem .2rem rgba(0, 0, 0, .5);
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .5);
}

.overlay {
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 3s;
}

.turnScreen {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.turnScreen__bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
}

.turnScreen > p {
    color: var(--font-color);
    font-size: 3.2rem;
    text-align: center;
    z-index: 1;
    font-family: 'Teko', sans-serif;
}

.turnScreen > svg {
    fill: var(--font-color);
    width: 12rem;
    height: 12rem;
    margin: 5rem 0;
    z-index: 1;
}

@media (orientation: portrait) {
    .viewDiscr {
        display: none;
    }

    .videoStabilizer {
        width: 0;
    }

    .turnScreen {
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 800px) {
    .videoPlayer {
        width: 95vw;
        height: 95vh;
    }

    @keyframes slide-in-right {
        0% {
            transform: translateX(500px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

/* Navigatie hamburger en list items */
.navigation{
    position: absolute;
    top: 5rem;
    left: 5rem;
    display: inherit;
    font-family: 'Teko', sans-serif;
    z-index: 2;
}

.navigation__menu{
    display: inherit;
    height: 100%;
}

.navigation__hamburger{
    color: white;
    font-size: 3rem;
    z-index: 99;
    cursor: pointer;
    transition: 1s all;
}

.navigation__menu:hover .navigation__hamburger{
    color: var(--accent-color);
}

.navigation__hamburger:active{
    color: var(--accent-color);
}

.navigation__hamburger:focus{
    color: var(--accent-color);
}

.navigation__menu:hover .navigation__text{
    color: var(--accent-color);
}

.navigation__text{
    display: block;
    color: white;
    font-size: 2.5rem;
    margin: 0 1rem;
    opacity: 1;
    transition: 1s all;
    cursor: pointer;
}

.navigation__items{
    opacity: 0;
    display: none;
    transition: 1s all;
    color: var(--accent-color);
    font-size: 2rem;
    position: absolute;
    top: 5rem;
    list-style: none;
    width: 15rem;
}

.navigation__items__link{
    transition: 1s all;
    cursor: pointer;
    margin: 2px 0;
    color: white;
}

.navigation__items__link:nth-child(1){
    text-decoration: underline;
}

.navigation__items__link:hover{
    color: var(--accent-color);
}

@media(max-width: 992px){
    .navigation{
        top: 1.5rem;
        left: 2rem;
    }

    .navigation__items{
        top: 3rem;
    }
}

@supports not (height: 100vh){
    main{
        height: 100%;
        width: 100%;
    }

    .viewDiscr-bg{
        height: 100%;
        width: 100%;
    }

    .videoPlayer{
        height: 90%;
        width: 90%;
    }

    .overlay{
        height: 100%;
        width: 100%;
    }

    .turnScreen{
        height: 100%;
        width: 100%;
    }

    .turnScreen__bg{
        height: 100%;
        width: 100%;
    }
}